<!DOCTYPE html>
<html>
    <head>
        <title>Polskie Tablice</title>
        <meta charset="utf-8">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
        
    </head>
    <body>
        <div name="user_score" class="userScore">
        {% if user_score > 0 %}
        <div>Aktualny wynik: {{user_score}}/401 </div>
        {% else %}
        <div>Aktualny wynik: 0/401 </div>
        {% endif %}
        {% if user_outcome %}
        <div>Ostatnia tablica: <a style="color:{{answer_color}};">{{user_outcome}}</a></div>
        {% endif %}
        </div>
        <button onclick="dark_mode_toggle()" class="darkModeButton"><img class="darkModeIcon" src="{{ url_for('static',filename='icons/dark-mode-icon.png') }}"></button>
        {% set user_last_plate_district=new_plate_district %}
        
        <div name="plate" class="plate">
            <div class="country"><div><img class="ueStars" src="{{ url_for('static',filename='images/UE_stars.png') }}"></div><a class="countryCode">PL</a></div>
            <div class="plateNumbers">{{ new_plate }}</div>
        </div>
        
        <form action="{{ url_for('home') }}" method="POST" class="answerForm">
            <input name="user_answer" class="userAnswer" placeholder="Wpisz Powiat lub Miasto">
            <button type="submit" class="submitButton">Sprawdź</button>
        </form>
    </body>
    <script>
        onload=if_dark_mode();
        function dark_mode_toggle(){
            if(sessionStorage.getItem('dark_mode_off')===null){
                dark_mode()
                sessionStorage.setItem('dark_mode_off',true);
            }
            else if (sessionStorage.getItem('dark_mode_off')=='true'){
                dark_mode();
                sessionStorage.setItem('dark_mode_off',false);
            }
            else {
                dark_mode();
                sessionStorage.setItem('dark_mode_off',true)
            }
        }
        function dark_mode(){
            var element=document.body;
            element.classList.toggle("darkMode");
        }
        function if_dark_mode(){
            if(sessionStorage.getItem('dark_mode_off')=='true'){
                dark_mode()
            }
        }
    </script>
</html>