body {
  margin: 0 auto;
  background-color: rgb(37, 37, 37);
  font-family: Arial;
}
/* dark mode */
.darkMode {
  background-color: rgb(255, 255, 255);
}
.darkMode #howMuchCanYouGuess {
  color: green;
  border-color: green;
  box-shadow: 0px 5px 30px -2px green;
}
.darkMode .modeSelectTitle {
  color: black;
}
.darkMode .darkModeIcon {
  filter: invert(0%);
}
.darkMode .darkModeButton {
  box-shadow: 0 0px 10px -2px black;
}
/* Dark mode button */
.darkModeButton {
  width: 50px;
  height: 50px;
  padding: 0;
  margin-left: calc(50% - 25px);
  margin-top: 50px;
  background-color: transparent;
  border: 0;
  border-radius: 25px;
  box-shadow: 0 0px 10px -2px white;
}

.darkModeIcon {
  margin: 0;
  width: 50px;
  height: 50px;
  filter: invert(100%);
}
/* Title */
.modeSelectTitle {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 40px;
}
/* Mode Buttons */
.modes {
  display: flex;
  justify-content: center;
}
.modeButton {
  text-align: center;
  color: white;
  width: 500px;
  height: 700px;
  border: 2px solid;
  margin: 25px;
  text-decoration: none;
  border-radius: 25px;
}

.modeName {
  margin-top: 50%;
  margin-bottom: 10%;
  font-size: 60px;
}
.modeDesc {
  font-size: 30x;
}
/* different mode == different color*/
#guessAll {
  color: red;
  box-shadow: 0px 5px 30px -2px;
}
#guessOnTime {
  color: orange;
  box-shadow: 0px 5px 30px -2px;
}

#howMuchCanYouGuess {
  color: greenyellow;
  box-shadow: 0px 5px 30px -2px;
}

/* Score tables */
.scoreTables {
  display: flex;
  justify-content: center;
}
.scoreButton {
  font-size: 30px;
  text-align: center;
  color: white;
  width: 500px;
  height: 700px;
  border: 2px solid white;
  margin: 25px;
  border-radius: 25px;
  color: rgb(0, 110, 255);
  border-color: rgb(0, 110, 255);
  box-shadow: 0px -5px 30px -2px rgb(0, 110, 255);
}

@media only screen and (max-width: 1250px) {
  /* dark mode mobile */
  .darkMode #howMuchCanYouGuessScore {
    color: green;
    border-color: green;
    box-shadow: 0px -5px 30px -2px;
  }
  /* dark mode button mobile */
  .darkModeButton {
    width: 150px;
    height: 150px;
    padding: 0;
    margin-bottom: 2.5%;
    margin-left: calc(50% + -75px);
    background-color: transparent;
    border: 0;
    border-radius: 75px;
    box-shadow: 0 0px 30px -3px white;
  }
  /* modes mobile */
  .modes {
    flex-direction: column;
  }
  .modeButton {
    width: 700px;
    margin-left: calc(50% - 350px);
  }
  .modeName {
    font-size: 70px;
    margin-top: 30%;
  }
  .modeDesc {
    font-size: 40px;
  }
  /* score tables mobile*/
  .scoreTables {
    flex-direction: column;
  }
  .scoreButton {
    font-size: 40px;
    margin-left: calc(50% - 350px);
    width: 700px;
  }
  /* different mode == different color but on mobile only*/
  #guessAllScore {
    color: red;
    border-color: red;
    box-shadow: 0px -5px 30px -2px red;
  }
  #guessOnTimeScore {
    color: orange;
    border-color: orange;
    box-shadow: 0px -5px 30px -2px orange;
  }

  #howMuchCanYouGuessScore {
    color: greenyellow;
    border-color: greenyellow;
    box-shadow: 0px -5px 30px -2px;
  }
}
